body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #343541;
    box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, 0.2)
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    width: 100%;
    height: 100%;
    padding: 60px 30px 20px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.dFlex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.dNone {
    display: none !important;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

.gap15 {
    gap: 15px;
}

.whiteFont {
    color: white;
}

#dumbellId {
    width: 100px;
    height: auto;
}

.symbol32 {
    width: 32px;
    height: 32px;
}

#settingsImgId {
    position: absolute;
    top: 60px;
    right: 30px;
    cursor: pointer;
}

button.activePreIntervalBtn:hover,
.activePreIntervalBtn,
button.activeIntervalBtn:hover,
.activeIntervalBtn,
button.activeSPRBtn:hover,
.activeSPRBtn {
    background-color: #1c5e1e;
}

#timeId {
    font-size: 30px;
}

button {
    padding: 12px;
    margin: 0;
    width: 100px;
    height: 45px;
    background-color: #202124;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3b3d42;
}

#timeId {
    color: white;
    width: 132px;
    height: 36px;
}

.btnArea {
    /* height dumbel img + gap + height timer + gap + height SPR Btns + gap*/
    /* margin-top: calc(80px + 15px + 36px + 15px + 45px + 15px); */
}

#settingstitleId {
    height: 32px;
    width: 100%;
    margin-bottom: 16px;
}

#settingsDescriptionId {
    width: 100%;
    height: auto;
    background-color: #202124;
    color: white;
    border-radius: 5px;
}