body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #343541;
    box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    width: 100%;
    height: 100%;
    padding: 60px 30px 20px;
    box-sizing: border-box;
    max-width: 786px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.dFlex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.dNone {
    display: none !important;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.horicontalAndVertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.w100 {
    width: 100%;
}

.gap15 {
    gap: 15px;
}

.gap8 {
    gap: 6px;
}

.whiteFont {
    color: white;
}

.dumbell {
    width: 100px;
    height: auto;
}

.symbol32 {
    width: 32px;
    height: 32px;
}

.btnTopRight {
    position: absolute;
    top: 60px;
    right: 30px;
    cursor: pointer;
}

.btnTopRightSecond {
    position: absolute;
    top: 60px;
    right: 80px;
    cursor: pointer;
}

button.activePreIntervalBtn:hover,
.activePreIntervalBtn,
button.activeIntervalBtn:hover,
.activeIntervalBtn,
button.activeSPRBtn:hover,
.activeSPRBtn {
    background-color: #1c5e1e;
}

#timeId {
    font-size: 30px;
}

button {
    padding: 12px;
    margin: 0;
    width: 100px;
    height: 45px;
    background-color: #202124;
    color: white;
    cursor: pointer;
    border-radius: 3px !important;
    border: none;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2) !important;
}

button:hover {
    background-color: #3b3d42;
}

#timeId {
    color: white;
    width: 132px;
    height: 36px;
}

#settingstitleId {
    height: 32px;
    width: 100%;
    margin-bottom: 16px;
}

#settingsDescriptionId {
    width: 100%;
    height: auto;
    background-color: #202124;
    color: white;
    border-radius: 5px;
}

.customBtn {
    background-color: white;
    color: black;
    width: 75px;
    height: 40px;
}

input {
    width: 260px;
    height: 30px;
    padding: 0 12px;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.imgBoxInInput {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 6px;
    cursor: pointer;
}

.inputWithImg {
    width: 260px;
    height: 30px;
}

.symbolInput {
    width: auto;
    height: 16px;
    top: 0;
    right: 0;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.rememberMeArea {
    color: white;
    gap: 8px;
}

#emptyInputId,
#userAlreadyExistsTextId,
#wrongCredentialId {
    color: red;
    text-align: center;
}

#userCreatedTextId {
    color: green;
    text-align: center;
}

.changeIntervalArea {
    width: 100px;
    height: 45px;
}

.inputInterval {
    width: 75%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
}

.standardConfirmBtnArea {
    width: 25%;
    height: 100%;
    align-items: flex-end;
}

.standardConfirmBtn {
    width: 19px;
    height: 20px;
    padding: 0;
    cursor: pointer;
}